.footer_style {
    background-color: '#0a4275';
    color: 'white';
    padding: '20px 0';
    text-align: 'center';
   
    height: 40vh;
    background-image: url('../../assets/images/header-image.png');
    background-repeat: no-repeat;
    background-size: cover
  }
  
.footer_style div {
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.591);
  }

.footer_style div p  {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.605);
    margin-bottom: 40px;
    margin: '5px 0';
    color: white;
    padding-top: 20px;
    text-align: center;
   
  }

